*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.leftside{
    height: 417px;
}
body{
    background-color: #c5e4e7;
}
.container{
 width: 920px;
  height: 481px;    
  border-radius: 25px;
  background-color: #fff;

}
.bill{
    font-size: 16px;
    font-weight: bold;
    color: #5e7a7d;
    padding: 45px 48px 6px;
}
.bill-input input{
    width: 379px;
  height: 48px;
  margin: 6px 0 0;
  padding: 6px 17px 6px 19.3px;
  border-radius: 5px;
  background-color: #f3f9fa;
  border-style: none;
  margin-left: 45px;
  margin-bottom: 40px;

}
.tip-percent p{
    font-size: 16px;
    color: #5e7a7d;
    margin-left: 45px;
}
.percents div{
    width: 117px;
    height: 48px;
    margin: 10px 5px ;
    padding: 6px 10px 6px 6px;
    border-radius: 5px;
    background-color: #00474b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}
.percents  span{
    width: 90px;
    height: 36px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.percents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 50%;
    margin-left: 40px;
    
}
.numberpeople p{
    font-size: 16px;
    font-weight: bold;
    color: #5e7a7d;
    margin-left: 45px;
    margin-top: 45px;
    margin-bottom: 6px;
}
.numberpeople input{
    width: 379px;
    height: 48px;
  margin: 6px 0 0;
  padding: 6px 17px;
  border-radius: 5px;
  background-color: #f3f9fa;
  margin-left: 45px;
  border-style: none;
}
.maindiv{
    display: flex;
}
.rightside{
    width: 50%;
    height: 417px;
   margin: 50px;
    padding: 40px;
    border-radius: 15px;
    background-color: #00474b;
}
.tips p{
    font-size: 16px;
    color: white;
}
.tips span{
    color: #7f9d9f;
    font-size: 13px;

}
.total p{
    font-size: 16px;
    color: white;
    margin-top: 53px;
}
.total span{
    color: #7f9d9f;
    font-size: 13px;
}
.rightside button{
    width: 333px;
    height: 48px;
    margin: 122px 0 0;
    padding: 9px 40px 9px 37px;
    border-radius: 5px;
    background-color: #26c2ae;
    color: WHITE;
    border-style: none;
    cursor: pointer;
}
