*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #c5e4e7;

}
.SPLITTER {
    width: 86.7px;
    height: 53.1px;
    margin: 50px 144px 41px;
  }
.container{
    width: 375px;
    height: 789px;
    flex-grow: 0;
    margin: 40.9px 0 0;
    padding: 32px 24px;
    box-shadow: 0 32px 43px 0 rgba(79, 166, 175, 0.2);
    background-color: #fff;
}
.bill{
    font-size: 16px;
    color: #5e7a7d;
    margin-bottom: 6px;
}
.amount-input{
    display: flex;
    flex-direction: column;
    margin: 32px 0 10 32px;
}
.input-field{
    width: 311px;
    height: 48px;
    text-align: right;
    font-size: 24px;
    color: #00474b;
    font-weight: bold;
    background-image: url(images/$.png);
    background-repeat: no-repeat;
    background-position: 10px center; 
}
.select-tip p{
    font-size: 16px;
    color: #5e7a7d;
    font-weight: bold;
    margin: 32px 171px 16px 2px;
}
.tip-buttons {
    width: 146.6px;
  height: 48px;
  margin: 0 16.6px 16px 0;
  padding: 6px 17.5px 6px 16.3px;
  border-radius: 5px;
  background-color: #00474b;
  color: white;
}
.five {
    padding: 5px 35px;
}

.ten {
    padding: 5px 30px;
}

.fifteen {
    padding: 5px 30px;
}

.twenty-five,
.fifty {
    padding: 5px 30px;
}
.custom-input{
    width: 145px;
  height: 48px;
  border-radius: 5px;
  background-color: #f3f9fa;
  margin: 0;
  
}
.col{
    display: flex;
}  
.num-people label{
    color: #5e7a7d;
    font-size: 16px;
   
} 
.num-people {
    margin-top: 30px;
}

 .green{
    background-color: #00474b;
    width: 327px;
    height: 257px;
    margin-top: 30px;
    border-radius: 15px;
    
 }
 .reset{
    background-color: #26c2ae;
    width: 281px;
    height: 48px;
    border-radius: 5px;
    color: #00474b;
    font-size: 20px;
    cursor: pointer;
 }
 .reset-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    
 }
 .tip{
    margin: 20px;
    padding-top: 30px;
 }
 .first-ones{
    display: flex;
    justify-content: space-between;
 }
 .money-amount{
    padding-top: 50px;
    padding-right: 50px;
 }
 .total{
    margin: 20px;
    padding-top: 10px;
 }
 .second-ones{
    display: flex;
    justify-content: space-between;
    margin-bottom: -30px;
 }
 .tipamount{
    font-size: 16px;
    color: #fff;

 }
 .person{
    color: #7f9d9f;
    font-weight: bold;
font-size: 13px;
 }
 .money-amount{
    color: #26c2ae;
    font-size: 32px;
    font-weight: bold;
 }
